<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">ProjectTracker</a>
    </div>

    <div class="collapse navbar-collapse" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Issues</a>
      </li>
    </ul>
    </div>
    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-item nav-link" routerLink= "/login">Login</a>
  </div>
  </nav>

  <router-outlet></router-outlet><!--Using this that sec is replaced by that component on clicking it will replace the previous component with new component-->