<div class="container-fluid">
    <div class="login-box">
      <h1>Welcome To ProjectTracker</h1>
      <form>
          <p>Username <input type="text" id="username" name="username" /></p>
         <p>Password <input type="password"  id="password" name="password" /></p>
          
         <div class="custom-control custom-checkbox" style="margin-left: 120px;">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" >
            <label class="custom-control-label" for="defaultUnchecked">Remember my login on this computer</label>
          </div><br>
          <label style="margin-left: 120px;">Not a member? To request an account, please contact your administrators.</label>
        <div class="form-group"> 
          <input type="submit"  value="Login">
          <label style="margin-left: 10px; color: #0544ed;">Can't access your account?</label>
          <!-- <input type="submit" routerLink="/signup" value="SignUp"/> -->
          
        </div>         
        </form>
    </div>
  </div>
